.modal {
  position: fixed; /* Фіксоване положення */
  z-index: 1; /* Переведемо вікно вище за все інше */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Використовуємо flex для відображення в центрі */
  justify-content: center; /* Центруємо вміст по горизонталі */
  align-items: center; /* Центруємо вміст по вертикалі */
  background-color: rgba(0, 0, 0, 0.4); /* Непрозорий чорний фон */
}

/* Вміст модального вікна */
.modal-content {
  background-color: #fefefe; /* Білий фон */
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px; /* Максимальна ширина вікна */
  border-radius: 5px; /* Округлені кути */
  position: relative; /* Потрібно для позиціювання кнопки "Закрити" */
}

/* Кнопка "Закрити" */
.close {
  position: absolute; /* Абсолютне позиціонування, щоб виставити кнопку в правий верхній кут */
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.upload-form {
  margin-bottom: 20px;
}

.upload-form label {
  display: block;
  margin-bottom: 5px;
}

.upload-form input[type="file"] {
  margin-bottom: 10px;
}

.download-btn {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #45a049;
}